* {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: orangered;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  color: white;
}

header img {
  position: relative;
  top: 5px;
  padding-right: 10px;
  
}

.full-card {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  border-bottom: 2px gray solid;
}

.cover-photo {
  width: 250px;
  padding-right: 20px;
  border-radius: 25px 0 0 25px;
  margin-bottom: 20px;
}

.pin {
  padding-right: 5px;
}

.link {
  padding-left: 30px;
}

.mini-header {
  display: flex;
  float: left;
  align-items: center;
}

.title {
  font-weight: bolder;
}

.description {
  margin-bottom: 20px;
}

@media screen and (max-width: 635px) {
  .cover-photo {
    width: 100%;
  }

  .full-card {
    flex-direction: column;
  }

  .cover-photo {
    border-radius: 5px 5px 5px 5px;
  }

  .nav-title {
    font-size: 15pt;
  }

  .date-map-details {
    font-size: 8pt;
  }
}
